/* RGB */
$color-white: rgba(244, 245, 244, 1);
$color-silver: rgba(232, 239, 242, 1);
$color-blue: rgb(125, 133, 172);;
$color-gray: rgb(219, 219, 219);
$color-green: rgb(170, 199, 192);
$color-dark: rgb(6, 100, 100);
$color-black: rgba(21, 40, 40, 1);