@import 'base/reset';
@import 'base/palette';
@import 'base/typography';

.mapContainer {
    width: 65%;
    height:100vh;
    background-color: $color-white;
    border-left: 1px solid $color-gray;

    .mapVector {
        width: 100%;
        height: 100%;

        path {
            fill: none;
            stroke: $color-black;
        }
    }
}